<div>
    <h2 id="page-heading">
        <span>Money Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-money-type" [routerLink]="['/money-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Money Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="moneyTypes?.length === 0">
        <span>No moneyTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="moneyTypes && moneyTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Icon</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>State</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let moneyType of moneyTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/money-type', moneyType.id, 'view']">{{ moneyType.id }}</a></td>
                    <td>{{ moneyType.icon }}</td>
                    <td>{{ moneyType.name }}</td>
                    <td>{{ moneyType.state }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/money-type', moneyType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/money-type', moneyType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(moneyType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
