<div>
    <h2 id="page-heading">
        <span>Documents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/document/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Document
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="documents?.length === 0">
        <span>No documents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="documents && documents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Url</span></th>
                    <th scope="col" ><span>Seller User Id</span></th>
                    <th scope="col" ><span>Buyer User Id</span></th>
                    <th scope="col" ><span>State</span></th>
                    <th scope="col" ><span>Creation Date</span></th>
                    <th scope="col" ><span>Seller</span></th>
                    <th scope="col" ><span>Buyer</span></th>
                    <th scope="col" ><span>Property</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of documents ;trackBy: trackId">
                    <td><a [routerLink]="['/document', document.id, 'view']">{{ document.id }}</a></td>
                    <td>{{ document.url }}</td>
                    <td>{{ document.sellerUserId }}</td>
                    <td>{{ document.buyerUserId }}</td>
                    <td>{{ document.state }}</td>
                    <td>{{ document.creationDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="document.seller">
                            <a [routerLink]="['/user-account', document.seller?.id, 'view']" >{{ document.seller?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="document.buyer">
                            <a [routerLink]="['/user-account', document.buyer?.id, 'view']" >{{ document.buyer?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="document.property">
                            <a [routerLink]="['/property', document.property?.id, 'view']" >{{ document.property?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/document', document.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/document', document.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(document)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
